body {
  background-color: #000!important;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
}

body {
    font-family: Arial, sans-serif;
}

main {
  background-color: #fff;!important;
}

.page-bg:before {
  background-image: url("../img/bgWave.svg");
  width: 100vw;
  top: 0;
  transform: rotate(180deg);
}

.consent-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: none;
    z-index: 1000;
}

.consent-banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.consent-banner button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.consent-banner button:hover {
    background-color: #0056b3;
}


#footer-table {
  align-text: center;
}
  

#terminal-window {
  width: 95vw;
  background-color: #000;
  overflow: hidden;
  margin-left: 5px;
  padding-left: 10px;
  border: 5px solid #333;
}

a {
  text-decoration: none;
}

.typewrite {
  font-family: Courier New, monospace;
}

header {
  text-align: center;
}

h1 {
  color: #00ff00!important;
  text-decoration: none;
}

h2.topic-header {
  font-family: Tangerine, serif!important;
  width: 100%;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

h2.topic-header:hover {
  color: #00ff00;
}

.see-more { color: #fff; }

#top-page-container {
  flex: 1;
  width: 100vw;
}

#navigation-bar {
  flex: 2;
  width: 99.8vw;
  display: flex;
  justify-content: center;
  margin-top:20px;
  border: 0.2vw solid #fff;
  margin-bottom: 20px;
}

#navigation-bar button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #101010;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#navigation-bar button:hover {
  color: #00ff00;
}

.page-title {
  color: #00ff00!important;
}

#introduction, #about, #portfolio, #contact {
  margin-left: 10vw;
  width: 80vw;
  min-height: 250px;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.topic-header {
  text-align: center;
}

table#footer-table {
  width: 100vw;
}

th.footer-heading {
  width: 50%;
}
/**
#about:hover, #introduction:hover, #portfolio:hover, #contact:hover{
  margin-left: 5vw;
  min-height: 50%;
}**/

@media only screen and (max-width: 767px) {
  .page-title {
    text-align: center;
  }
  
  #introduction, #about, #portfolio, #contact {
    width: 100vw;
    min-height: 250px;
    border-bottom: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 0;
  }
}
