body {
  background-color: #000!important;
  display: flex;
  flex-direction: column;
  color: fff;
  justify-content: center;
}

a {
  text-decoration: none;
}

.typewrite {
  justify-text: center;
  font-family: Courier New, monospace;
}

h1 {
  color: #00ff00!important;
  text-decoration: none;
}

h2 {
  color: #fff!important;
}

h2 {
  font-family: Tangerine, serif!important;
}

h2:hover {
  color: #00ff00;
}

#top-page-container {
  flex: 1;
  width: 100vw;
}

#navigation-bar {
  flex: 2;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top:20px;
}

#navigation-bar button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #101010;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#navigation-bar button:hover {
  color: #00ff00;
}

.page-title {
  color: #00ff00!important;
}

#about, #portfolio, #contact {
  margin-left: 10vw;
  width: 80vw;
  min-height: 250px;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.topic-header {
  justify-text: center;
}

@media only and (min-width: 767px) {
  .page-title {
    text-align: center;
  }
  
  #about, #portfolio, #contact {
    width: 100vw;
    min-height: 250px;
    border: none;
  }
}
